## Лабораторна робота 1: Бібліотека Pandas  
  
### Завдання:
1. Завантаження та попередній аналіз даних:  
- Зчитайте файл із початковими даними у Pandas. 
- Використовуючи метод head(), виведіть перші 10 рядків даних.  
- Отримайте загальну інформацію про датасет(набір даних) за допомогою методу info() та зробіть висновки щодо структури датасету (розмір датасету, скільки є кількісних і текстових (категоріальних) змінних, чи є пропуски). 
- Використовуючи метод describe(), виведіть статистичні показники для кількісних даних, а також для текстових (категоріальних) даних. Зробіть висновки щодо середніх значень, мінімумів, максимумів і поширених категорій у датасеті.  
  
2. Перейменування стовпців:  
- Перейменуйте стовпці датафрейму, скоротивши їх назви до більш зручного вигляду. Наприклад:
"Student_identifier_code_for_participation_in_the_survey" → "Student_ID"
"Age_of_student_at_the_time_of_the_data_collection_process" → "Age"
"Grade_level_of_the_participant_in_the_educational_program" → "Grade_level"
І так далі для кожного стовпця.  
- Виведіть перші 5 рядків після перейменування стовпців, щоб переконатися, що зміни були успішними.  

3. Обробка пропусків у даних:  
- Виведіть кількість пропусків у кожному стовпці.  
- Заповніть пропуски в кількісних стовпцях середніми значеннями за допомогою методу fillna().  
- Видаліть усі рядки, де є пропуски, використовуючи метод dropna().  

3. Фільтрація даних:
- Виберіть усіх студентів, вік яких перевищує 20 років.  
- Виберіть рядки, де студенти відвідують більше 20 годин занять на тиждень і рівень задоволеності навчальним закладом перевищує 80%.  
- Створіть новий DataFrame, що містить лише студентів, які обрали мову програмування Python або C++, або Java для проектної роботи (<span style="color:red"> *для виконання цього завдання ідеально буде використати метод isin, який на лекції не розглядала, але це дуже простий і корисний метод*</span>).  

4. Групування даних (<span style="color:red"> *самостійне вивчення методу groupby*</span>):  
- За допомогою методу groupby згрупуйте дані за рівнем навчання (стовпець "Grade_level_of_the_participant_in_the_educational_program") та обчисліть середній вік студентів у кожній групі.  
- Знайдіть середню кількість годин, витрачених на навчання, для кожного рівня навчання.  
- Порахуйте кількість студентів, що беруть участь у позанавчальних активностях, для кожного рівня навчання.

Цей датасет представляє собою інформацію, зібрану в рамках опитування студентів технічних спеціальностей. Нижче наведено опис кожного стовпця датасету:  
**1. Student_identifier_code_for_participation_in_the_survey** - Ідентифікаційний код студента, який брав участь в опитуванні. Це унікальний код для кожного учасника.  
**2. Age_of_student_at_the_time_of_the_data_collection_process** - Вік студента на момент збору даних. Це кількісне значення, що варіюється в межах від 18 до 25 років.  
**3. Grade_level_of_the_participant_in_the_educational_program** - Рівень навчання студента в освітній програмі. Це категоріальна змінна, яке може приймати одне з наступних значень (категорій):  
- Freshman (перший курс),  
- Sophomore (другий курс),  
- Junior (третій курс),  
- Senior (четвертий курс).   

**4. Hours_spent_studying_on_a_weekly_basis** - Кількість годин, витрачених студентом на навчання протягом тижня. Це кількісне значення, яке може варіюватися від 5 до 40 годин.   

**5. Preferred_study_method_in_lecture_or_practical_sessions** - Обраний студентом метод навчання. Можливі варіанти:  
- Lecture (лекції),  
- Practical (практика),  
- Self-study (самостійне навчання),  
- Group-study (групове навчання).    

**6. Number_of_absent_days_in_the_current_semester** - Кількість пропущених днів у поточному семестрі. Це кількісне значення, яке може варіюватися від 0 до 15.  
**7. Average_test_score_in_mathematical_subjects** - Середній бал студента з математичних предметів. Це кількісне значення у діапазоні від 50 до 100 балів.  
**8. Student_participation_in_extracurricular_activities** - Участь студента в позанавчальних активностях. Це категоріальне значення, яке може приймати значення "Yes" (так) або "No" (ні).  
**9. Preferred_programming_language_for_project_work** - Обрана студентом мова програмування для виконання проектних робіт. Можливі варіанти:  
- Python,  
- C++,  
- Java,  
- JavaScript,  
- R.    

**10. Satisfaction_level_with_academic_facilities_in_percentage** - Рівень задоволеності навчальним закладом, виражений у відсотках. Це кількісне значення від 50% до 100%.    

**11. Plans_for_further_education_or_employment_after_graduation** - Плани студента після завершення навчання. Це категоріальна змінна, яке може приймати такі зачення:  
- Higher education (продовження навчання),  
- Employment (працевлаштування),  
- Freelancing (фріланс),  
- Undecided (не визначився).

In [1]:
import pandas as pd

In [2]:
#1 Завантаження та попередній аналіз даних:

In [3]:
# Для зчитування файлу, що знаходиться локально, із початковими даними у Pandas
dataFrame = pd.read_csv('student_data.csv')
dataFrame

,Student_identifier_code_for_participation_in_the_survey,Age_of_student_at_the_time_of_the_data_collection_process,Grade_level_of_the_participant_in_the_educational_program,Hours_spent_studying_on_a_weekly_basis,Preferred_study_method_in_lecture_or_practical_sessions,Number_of_absent_days_in_the_current_semester,Average_test_score_in_mathematical_subjects,Student_participation_in_extracurricular_activities,Preferred_programming_language_for_project_work,Satisfaction_level_with_academic_facilities_in_percentage,Plans_for_further_education_or_employment_after_graduation
0,ID_2126,24.0,Freshman,13.0,Lecture,6.0,73.44,No,Java,84.40,Employment
1,ID_1860,20.0,Senior,28.0,Lecture,NaN,85.28,Yes,NaN,93.20,Undecided
2,ID_2130,19.0,Junior,21.0,NaN,10.0,96.11,Yes,JavaScript,64.94,Employment
3,ID_2095,20.0,Sophomore,28.0,Practical,4.0,57.10,No,C++,59.65,Undecided
4,ID_2044,19.0,Senior,25.0,Self-study,5.0,65.21,No,Java,55.81,Employment
...,...,...,...,...,...,...,...,...,...,...,...
1195,ID_1826,22.0,Sophomore,36.0,Group-study,3.0,NaN,No,JavaScript,68.48,Higher education
1196,ID_1726,24.0,Sophomore,19.0,Practical,14.0,87.32,Yes,Python,NaN,Undecided
1197,NaN,23.0,Junior,39.0,Practical,13.0,57.28,No,R,71.18,Freelancing
1198,ID_1989,21.0,Sophomore,7.0,NaN,2.0,93.90,Yes,Java,78.58,Freelancing
1199,ID_1371,19.0,Sophomore,20.0,Group-study,3.0,NaN,Yes,R,95.14,Undecided

In [4]:
# Виведення перших 10 рядків даних
dataFrame.head(10)

,Student_identifier_code_for_participation_in_the_survey,Age_of_student_at_the_time_of_the_data_collection_process,Grade_level_of_the_participant_in_the_educational_program,Hours_spent_studying_on_a_weekly_basis,Preferred_study_method_in_lecture_or_practical_sessions,Number_of_absent_days_in_the_current_semester,Average_test_score_in_mathematical_subjects,Student_participation_in_extracurricular_activities,Preferred_programming_language_for_project_work,Satisfaction_level_with_academic_facilities_in_percentage,Plans_for_further_education_or_employment_after_graduation
0,ID_2126,24.0,Freshman,13.0,Lecture,6.0,73.44,No,Java,84.40,Employment
1,ID_1860,20.0,Senior,28.0,Lecture,NaN,85.28,Yes,NaN,93.20,Undecided
2,ID_2130,19.0,Junior,21.0,NaN,10.0,96.11,Yes,JavaScript,64.94,Employment
3,ID_2095,20.0,Sophomore,28.0,Practical,4.0,57.10,No,C++,59.65,Undecided
4,ID_2044,19.0,Senior,25.0,Self-study,5.0,65.21,No,Java,55.81,Employment
5,ID_1121,24.0,Freshman,17.0,NaN,9.0,56.96,No,Java,80.81,Freelancing
6,ID_1466,18.0,Junior,15.0,Group-study,3.0,80.60,No,Python,72.19,Higher education
7,ID_1330,23.0,Sophomore,23.0,Lecture,NaN,65.32,NaN,NaN,59.40,Freelancing
8,ID_1087,NaN,Sophomore,15.0,Lecture,11.0,66.31,No,JavaScript,82.66,Employment
9,ID_2123,20.0,Senior,17.0,Self-study,1.0,53.55,No,R,57.42,Higher education

In [5]:
# Отримання загальної інформації про набір даних
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 11 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Student_identifier_code_for_participation_in_the_survey     1085 non-null   object
 1   Age_of_student_at_the_time_of_the_data_collection_process   1079 non-null   float64
 2   Grade_level_of_the_participant_in_the_educational_program   1085 non-null   object
 3   Hours_spent_studying_on_a_weekly_basis                      1108 non-null   float64
 4   Preferred_study_method_in_lecture_or_practical_sessions     1073 non-null   object
 5   Number_of_absent_days_in_the_current_semester               1078 non-null   float64
 6   Average_test_score_in_mathematical_subjects                 1092 non-null   float64
 7   Student_participation_in_extracurricular_activities         1080 non-null   object
 8   Preferred_programming_language_for_project_work             1085 non-null   object
 9   Satisfaction_level_with_academic_facilities_in_percentage   1080 non-null   float64
 10  Plans_for_further_education_or_employment_after_graduation  1080 non-null   object
dtypes: float64(5), object(6)
memory usage: 103.3+ KB

In [6]:
#Висновок:
# Всього у наборі даних 1200 рядків
# 11 стовпчиків
# Кількісні змінні:5 змінних з типом float64
# Текстові (категоріальні) змінні:6 змінних з типом object
# У всіх стовпцях присутні пропуски адже Non-Null Count≠1200
# Кількість пропусків  в межах від 92 до 127 значень.

In [7]:
# Опис для кількісних змінних
dataFrame.describe()

,Age_of_student_at_the_time_of_the_data_collection_process,Hours_spent_studying_on_a_weekly_basis,Number_of_absent_days_in_the_current_semester,Average_test_score_in_mathematical_subjects,Satisfaction_level_with_academic_facilities_in_percentage
count,1079.000000,1108.000000,1078.000000,1092.000000,1080.000000
mean,20.974977,22.204874,7.088126,74.466667,75.559500
std,1.976280,10.062070,4.211298,14.353203,14.602437
min,18.000000,5.000000,0.000000,50.100000,50.070000
25%,19.000000,14.000000,3.000000,61.977500,63.180000
50%,21.000000,22.000000,7.000000,74.170000,75.990000
75%,23.000000,31.000000,11.000000,86.902500,88.505000
max,24.000000,39.000000,14.000000,99.950000,99.990000

In [8]:
# Вік студента на момент збору даних.  (Age_of_student_at_the_time_of_the_data_collection_process)
# Середній вік:  20.97 років.
# Мінімальний вік: 18 років стандартний вік для початку навчання в університеті.
# Максимальний вік: 24 роки також є звичайним для студентів.
# Стандартне відхилення: 1.98 невелика варіативність.

# Кількість годин, витрачених студентом на навчання протягом тижня.  (Hours_spent_studying_on_a_weekly_basis)
# Середня кількість годин:  22.20 годин.
# Мінімум: 5 годин є учні які не приділяють увагу навчанню.
# Максимум: 39 годин студенти, які навчаються активно.
# Стандартне відхилення: 10.06 велика варіативність у навчанні студентів.

# Кількість пропущених днів у поточному семестрі. (Number_of_absent_days_in_the_current_semester) 
# Середня кількість: приблизно 7.09 днів.
# Мінімум: 0 днів, що вказує на студентів, які не пропускали заняття.
# Максимум: 14 днів, що може бути наслідком хвороби, особисті причини.
# Стандартне відхилення: 4.21,  різноманітність у кількості днів відсутності серед студентів.

# Середній бал з математики (Average_test_score_in_mathematical_subjects)
# Середній бал: близько 74.47. Це є достатнім для позитивної оцінки.
# Мінімум: 50.10, що може вказувати на студентів з низькими результатами.
# Максимум: 99.95, що свідчить про високі досягнення в математиці.
# Стандартне відхилення: 14.35, що вказує на велику різницю в успішності студентів.

# Рівень задоволеності навчальним закладом (Satisfaction_level_with_academic_facilities_in_percentage)
# Середній рівень задоволення: приблизно 75.56%,  загальне позитивне враження студентів.
# Мінімум: 50.07%, що може свідчити про невдоволення певної групи студентів.
# Максимум: 99.99%, що свідчить про високу задоволеність деяких студентів.
# Стандартне відхилення: 14.60, варіативність у задоволеності серед студентів.

In [9]:
# Описова статистика для категоріальних змінних
dataFrame.describe(include=[object])

,Student_identifier_code_for_participation_in_the_survey,Grade_level_of_the_participant_in_the_educational_program,Preferred_study_method_in_lecture_or_practical_sessions,Student_participation_in_extracurricular_activities,Preferred_programming_language_for_project_work,Plans_for_further_education_or_employment_after_graduation
count,1085,1085,1073,1080,1085,1080
unique,712,4,4,2,5,4
top,ID_1633,Senior,Self-study,No,Python,Undecided
freq,5,294,283,564,250,287

In [10]:
# Описова статистика для категоріальних змінних
# Статистики:
# Student_identifier_code_for_participation_in_the_survey(Ідентифікаційний код студента, який брав участь в опитуванні. Це унікальний код для кожного учасника. ) 
# Кількість записів: 1085
# Унікальних значень: 712 різних індеікаторів 
# Найпоширеніше значення: ID_1633 найчастіше зустрічається таке id
# Частота найпоширенішого значення: 5 раз зустрічається ID_1633 

# Grade_level_of_the_participant_in_the_educational_program(Рівень навчання студента в освітній програмі. Це категоріальна змінна) 
# Кількість записів: 1085
# Унікальних значень: 4 рівні  учасників
# Найпоширеніше значення: Senior найпопулярніший рівень
# Частота найпоширенішого значення: 294 з рівнем  Senior

# Preferred_study_method_in_lecture_or_practical_sessions( Обраний студентом метод навчання.) 
# Кількість записів: 1073
# Унікальних значень: 4 методи навчання
# Найпоширеніше значення: Self-study найбажаніший метод 
# Частота найпоширенішого значення: 283 полюбляють метод Self-study

# Student_participation_in_extracurricular_activities(Участь студента в позанавчальних активностях. )
# Кількість записів: 1080
# Унікальних значень: 2 так або ні
# Найпоширеніше значення: No (частіше ні) 
# Частота найпоширенішого значення: 564 студенти вказали ,ні

# Preferred_programming_language_for_project_work(Обрана студентом мова програмування для виконання проектних робіт. ) 
# Кількість записів: 1085
# Унікальних значень: 5 мови програмування 
# Найпоширеніше значення: Python найпопулярніша 
# Частота найпоширенішого значення: 250 студентів обрали  Python

# Plans_for_further_education_or_employment_after_graduation(Плани студента після завершення навчання. ) 
# Кількість записів: 1080
# Унікальних значень: 4
# Найпоширеніше значення: Undecided найпопулярніший вибір студентів ,що до майбутнього 
# Частота найпоширенішого значення: 287 обрали  Undecided

In [11]:
#2 Перейменування стовпців:

In [12]:
# Перейменування стовпців
dataFrame.rename(columns={
    "Student_identifier_code_for_participation_in_the_survey": "Student_ID",
    "Age_of_student_at_the_time_of_the_data_collection_process": "Age",
    "Grade_level_of_the_participant_in_the_educational_program": "Grade_level",
    "Hours_spent_studying_on_a_weekly_basis": "Study_Hours",
    "Preferred_study_method_in_lecture_or_practical_sessions": "Study_Method",
    "Number_of_absent_days_in_the_current_semester": "Absent_Days",
    "Average_test_score_in_mathematical_subjects": "Math_Score",
    "Student_participation_in_extracurricular_activities": "Extracurricular",
    "Preferred_programming_language_for_project_work": "Prog_Language",
    "Satisfaction_level_with_academic_facilities_in_percentage": "Satisfaction",
    "Plans_for_further_education_or_employment_after_graduation": "Future_Plans"
}, inplace=True)

In [13]:
# Виведення перших 5 рядків після перейменування стовпців
print(dataFrame.head())

  Student_ID   Age Grade_level  Study_Hours Study_Method  Absent_Days  \
0    ID_2126  24.0    Freshman         13.0      Lecture          6.0
1    ID_1860  20.0      Senior         28.0      Lecture          NaN
2    ID_2130  19.0      Junior         21.0          NaN         10.0
3    ID_2095  20.0   Sophomore         28.0    Practical          4.0
4    ID_2044  19.0      Senior         25.0   Self-study          5.0

   Math_Score Extracurricular Prog_Language  Satisfaction Future_Plans
0       73.44              No          Java         84.40   Employment
1       85.28             Yes           NaN         93.20    Undecided
2       96.11             Yes    JavaScript         64.94   Employment
3       57.10              No           C++         59.65    Undecided
4       65.21              No          Java         55.81   Employment

In [14]:
#зміни успішні

In [15]:
#3 Обробка пропусків у даних:

In [16]:
dataFrame.isnull().sum()

Student_ID         115
Age                121
Grade_level        115
Study_Hours         92
Study_Method       127
Absent_Days        122
Math_Score         108
Extracurricular    120
Prog_Language      115
Satisfaction       120
Future_Plans       120
dtype: int64

In [17]:
dataFrame.fillna(dataFrame.mean(numeric_only=True), inplace=True)

In [18]:
dataFrame.isnull().sum()

Student_ID         115
Age                  0
Grade_level        115
Study_Hours          0
Study_Method       127
Absent_Days          0
Math_Score           0
Extracurricular    120
Prog_Language      115
Satisfaction         0
Future_Plans       120
dtype: int64

In [19]:
dataFrame = dataFrame.dropna()

In [20]:
# Перевірка наявності пропусків після видалення
dataFrame.isnull().sum()

Student_ID         0
Age                0
Grade_level        0
Study_Hours        0
Study_Method       0
Absent_Days        0
Math_Score         0
Extracurricular    0
Prog_Language      0
Satisfaction       0
Future_Plans       0
dtype: int64

In [21]:
#4 Фільтрація даних:

In [22]:
dataFrame[dataFrame['Age'] > 20]

,Student_ID,Age,Grade_level,Study_Hours,Study_Method,Absent_Days,Math_Score,Extracurricular,Prog_Language,Satisfaction,Future_Plans
0,ID_2126,24.000000,Freshman,13.000000,Lecture,6.000000,73.440000,No,Java,84.4000,Employment
8,ID_1087,20.974977,Sophomore,15.000000,Lecture,11.000000,66.310000,No,JavaScript,82.6600,Employment
11,ID_1130,21.000000,Junior,23.000000,Self-study,9.000000,93.120000,Yes,JavaScript,76.3600,Higher education
12,ID_1769,22.000000,Junior,16.000000,Practical,8.000000,61.650000,Yes,R,86.7100,Undecided
19,ID_1459,20.974977,Sophomore,9.000000,Self-study,7.088126,99.770000,Yes,C++,90.8800,Undecided
...,...,...,...,...,...,...,...,...,...,...,...
1187,ID_2109,21.000000,Senior,15.000000,Practical,4.000000,67.170000,No,JavaScript,87.6400,Freelancing
1191,ID_1628,22.000000,Freshman,35.000000,Lecture,7.088126,81.610000,No,Python,75.5595,Higher education
1192,ID_1136,21.000000,Freshman,22.204874,Group-study,2.000000,71.760000,Yes,C++,53.9800,Employment
1195,ID_1826,22.000000,Sophomore,36.000000,Group-study,3.000000,74.466667,No,JavaScript,68.4800,Higher education
1196,ID_1726,24.000000,Sophomore,19.000000,Practical,14.000000,87.320000,Yes,Python,75.5595,Undecided

In [23]:
selected_students = dataFrame[(dataFrame['Study_Hours'] > 20) & 
                              (dataFrame['Satisfaction'] > 80)]
print(selected_students)

     Student_ID   Age Grade_level  Study_Hours Study_Method  Absent_Days  \
22      ID_1747  24.0   Sophomore    22.204874   Self-study          8.0
28      ID_1975  22.0      Junior    22.000000   Self-study          4.0
32      ID_1957  19.0    Freshman    37.000000      Lecture          9.0
36      ID_1646  24.0   Sophomore    24.000000    Practical          7.0
61      ID_1729  18.0      Senior    21.000000   Self-study         11.0
...         ...   ...         ...          ...          ...          ...
1133    ID_1806  24.0   Sophomore    25.000000  Group-study         13.0
1149    ID_1072  18.0   Sophomore    37.000000   Self-study          7.0
1170    ID_1011  23.0   Sophomore    31.000000    Practical          6.0
1173    ID_1660  23.0    Freshman    35.000000    Practical         10.0
1178    ID_1465  20.0    Freshman    31.000000  Group-study          8.0

      Math_Score Extracurricular Prog_Language  Satisfaction      Future_Plans
22     52.810000             Yes        Python         93.04         Undecided
28     51.660000              No        Python         87.68         Undecided
32     69.840000             Yes    JavaScript         88.03        Employment
36     76.500000             Yes             R         94.63        Employment
61     91.110000              No    JavaScript         92.69        Employment
...          ...             ...           ...           ...               ...
1133   76.090000              No    JavaScript         92.29       Freelancing
1149   74.466667             Yes           C++         89.60  Higher education
1170   85.750000              No    JavaScript         90.23        Employment
1173   74.466667              No          Java         89.88       Freelancing
1178   72.480000             Yes        Python         80.07        Employment

[147 rows x 11 columns]

In [24]:
students_with_selected_languages = dataFrame[dataFrame['Prog_Language'].isin(['Python', 'C++', 'Java'])]
students_with_selected_languages

,Student_ID,Age,Grade_level,Study_Hours,Study_Method,Absent_Days,Math_Score,Extracurricular,Prog_Language,Satisfaction,Future_Plans
0,ID_2126,24.000000,Freshman,13.000000,Lecture,6.000000,73.44,No,Java,84.4000,Employment
3,ID_2095,20.000000,Sophomore,28.000000,Practical,4.000000,57.10,No,C++,59.6500,Undecided
4,ID_2044,19.000000,Senior,25.000000,Self-study,5.000000,65.21,No,Java,55.8100,Employment
6,ID_1466,18.000000,Junior,15.000000,Group-study,3.000000,80.60,No,Python,72.1900,Higher education
19,ID_1459,20.974977,Sophomore,9.000000,Self-study,7.088126,99.77,Yes,C++,90.8800,Undecided
...,...,...,...,...,...,...,...,...,...,...,...
1181,ID_1046,18.000000,Sophomore,19.000000,Group-study,9.000000,81.10,No,Python,96.3800,Higher education
1184,ID_1710,19.000000,Senior,39.000000,Self-study,1.000000,59.62,Yes,Java,70.1400,Freelancing
1191,ID_1628,22.000000,Freshman,35.000000,Lecture,7.088126,81.61,No,Python,75.5595,Higher education
1192,ID_1136,21.000000,Freshman,22.204874,Group-study,2.000000,71.76,Yes,C++,53.9800,Employment
1196,ID_1726,24.000000,Sophomore,19.000000,Practical,14.000000,87.32,Yes,Python,75.5595,Undecided

In [25]:
#5 Групування даних

In [26]:
grouped_data =dataFrame.groupby('Grade_level')

In [27]:
# 1. Середній вік студентів для кожного рівня навчання
grouped_data['Age'].mean()

Grade_level
Freshman     20.817465
Junior       21.056329
Senior       20.743045
Sophomore    21.266004
Name: Age, dtype: float64

In [28]:
# 2. Середня кількість годин, витрачених на навчання, для кожного рівня
grouped_data['Study_Hours'].mean()

Grade_level
Freshman     22.615853
Junior       22.260057
Senior       22.845374
Sophomore    22.557674
Name: Study_Hours, dtype: float64

In [29]:
# 3. Підрахунок кількості студентів, які беруть участь у позанавчальних активностях
grouped_data['Extracurricular'].value_counts().unstack().fillna(0)['Yes']

Grade_level
Freshman     74
Junior       62
Senior       88
Sophomore    81
Name: Yes, dtype: int64